{{ define "body" }}

  {{/*  <div class="Layout Layout--divided">  */}}
  <div class="Layout">

    <div class="Layout-main">

      <div class="Layout Layout--sidebarPosition-end Layout--sidebar-narrow">

        <div class="Layout-main p-3">
          <article>

            <header class="Subhead">
              <h1 class="Subhead-heading h1">{{.Title}}</h1>
              {{ with .Description }}<div class="Subhead-description">{{.}}</div>{{ end }}
            </header>

            <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
            <div class="markdown-body">
              {{ .Content | emojify }}

              <h2>All pages</h2>
              <p>
              <ul class="ActionList">
                {{ range .Site.RegularPages }}
                <li class="ActionList-item">
                  <a href="{{.RelPermalink}}" class="ActionList-content">
                    <span class="ActionList-item-label" >{{.Title}}</span>
                  </a>
                </li>
                {{ end }}
              </ul>
              </p>

            </div>
          </article>
        </div>

        <aside class="Layout-sidebar p-3">
          {{/* condition is to make sure TOC is not empty */}}
          {{ with .TableOfContents }}{{ if gt (len .) 32 }}
          <div class="hide-lg">
            {{ partial "element/toc.html" . }}
          </div>
          <hr>
          {{ end }}{{ end }}
          {{ partial "component/meta.html" . }}
        </aside>
    </div>
    </div>

    {{/*  <div class="Layout-divider"></div>  */}}

    <div class="Layout-sidebar color-bg-subtle p-3">
        {{ partial "sidenav.html" . }}
    </div>

  </div>


{{ end }}