{{ $path := string (print "/layouts/partials" (
  replaceRE  "/$" ".html" (
  replaceRE "(component|element)s/" "$1/" .RelPermalink) ) ) -}}

{{ if fileExists $path -}}
  <h2>Source code</h2>
  <details class="dropdown details-reset details-overlay ">
    <summary class="color-fg-muted d-inline" aria-haspopup="true">{{ $path }} <span class="dropdown-caret"></summary>
    <div class="Box">
      <div class="Box-row pb-0">
        <span class="Label float-right ">template</span>
        {{- $code := readFile $path -}}
        {{- highlight $code "html" -}}
      </div>
    </div>
  </details>
{{ end -}}